[user]
  name = Andrew Babichev
  email = andrew.babichev@gmail.com
[alias]
  fa = fetch --all -p
  st = status
  co = checkout
  br = branch
  lg = log --oneline --decorate --graph
[push]
  default = current
[rebase]
  autosquash = true
  autostash = true
